/* BREAK-IT TEST: If you see this, the file is connected! */
.table-container {
  width: 100% !important;
  background-color: lightyellow !important;
  border: 5px solid red !important;
}

table {
  width: 100% !important;
  border-collapse: collapse;
}

thead {
  background: black !important;
}

th {
  color: yellow !important;
  padding: 20px !important;
  text-transform: uppercase;
}

td {
  padding: 15px !important;
  border: 2px solid blue !important;
}