<div class="form-container">

  <h3>➕ Add New Asset</h3>

  <div class="form-box">

    <input
      placeholder="Name"
      [(ngModel)]="newAsset.name"
    />

    <input
      placeholder="Type"
      [(ngModel)]="newAsset.type"
    />

    <select [(ngModel)]="newAsset.status">
      <option value="Active">Active</option>
      <option value="Maintenance">Maintenance</option>
      <option value="Standby">Standby</option>
    </select>

    <input
      placeholder="Location"
      [(ngModel)]="newAsset.location"
    />

    <button (click)="onAdd()">
      Add Asset +
    </button>

  </div>

</div>